html, body {
    height: fit-content;
    width: max-content;
    margin: auto;   /* to make the generator centered in new tab after popout*/
}

.btn-container {
    margin-top: 20px;
    width: 214px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#help {
    white-space: pre-line;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    content: url(../images/help.png);
}

#popout {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    content: url(../images/popout.png);
}

.imageZoomIn {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.imageZoomIn:hover {
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}